.env
what.py
.vscode
testt.py
test.py
cogs/__pycache__
cogs/test.py
cogs/covid_vaccine.py
data/__pycache__
data/exceptions.py
data/validators.py
TODO.txt

__pycache__/random.cpython-39.pyc
__pycache__/test.cpython-39.pyc

